@font-face {
    font-family: "Code";
    src: url(../src/fonts/Rounded_Elegance.ttf);
}

#header-text {
    color: #37474f;
}

.CodeText {
    font-family: "Code";
    color: #37474f;
}

#B-Image {
    height: 30em;
    /* background: rgb(9,105,121); */
    /* background: linear-gradient(0deg, rgba(9,105,121,1) 0%, rgba(9,64,121,1) 17%, rgba(0,212,255,1) 100%); */
    background-color: darkgoldenrod;
}
#B-white {
    height: 30em;
    background-color: whitesmoke;
}

.T-Margin-10 {
    margin-top: 10%;
}

.noMarg {
    margin: 0;
}
.noMargBot {
    margin-bottom: 0;
}

#big-name {
    font-size: 4em;
    padding: 0;
}

#hello {
    font-size: 1.5em;
    padding: 0;
}

#Presentation {
    margin-top: 8em;
}

.no-shadow {
    box-shadow: none!important;
}

/* New clean css */

/* CSS Reset */
body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    /* background-color: #303030; */
    background-image: url("/src/images/bg.jpg");
    font-family: 'Kanit', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration-line: none;
    color: white;
}

/* Styles */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    padding: 0 1.5rem;
    background-color: #00000055;
    backdrop-filter: blur(15px);
}

#home-button {
    color: white;
    font-size: 28px;
    font-weight: 600;
}

.nav-items {
    display: flex;
    flex-direction: row;
}

.nav-item {
    margin: 0 8px;
}
